<div class="row">
  <div style="margin: 10px; background-color: beige;" class="col-sm">
    Schritt 1: Steckbrief<br/>
    Damit ich mir ein Bild von Dir verschaffen kann, benötige ich ein paar Informationen über dich.
    Um deine Daten musst du dir keine Sorgen machen, denn diese werden streng vertraulich behandelt
    und in keinem Fall an einen Dritten weitergegeben.
  </div>
  <div style="margin: 10px; background-color: beige;" class="col-sm">
    Schritt 2: Steuerliche Prüfung<br/>
    Durch deine Angaben wird geprüft, ob die Stiftungsmethode für dich anwendbar ist.<br/>
    <span style="font-weight:bold; white-space: pre-wrap">Die Prüfung deiner Daten erfolg kostenfrei und ohne Verpflichtung zu einem Termin!</span></div>
  <div style="margin: 10px; background-color: beige;" class="col-sm">
    Schritt 3: Rückruf<br/>
    Ergibt die Prüfung, dass die Stiftungsmethode für dich anwendbar ist, rufen wir dich gerne für ein
    unverbindliches Analyse-Gespräch an. Hierbei gehen wir auf die wichtigsten Punkte ein.
    Danach kannst du in Ruhe entscheiden ob du ein Beratungsgespräch in Anspruch und eine Stiftung
    gründen möchtest. </div>
</div>
<div class="bottom">
    <div style="margin: 10px;" class="row justify-content-center">Wir freuen uns auf dich!</div>
    <button mat-raised-button color="primary"
     [routerLink]="'../steckbrief'"
     matTooltip="Persönlichen Steckbrief öffnen">Zum persönlichen Steckbrief</button>
</div>



