<nav mat-tab-nav-bar>
  <a mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.link"
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">
 {{link.label}}
</a>
<div class="width"></div>
  <div class="buttons" layout-align="end start">
    <button class="fa fa-youtube fa-3x" (click)="openSnackbar('youtube')"></button>
  </div>
  <div class="buttons" layout-align="end start">
    <button class='fa fa-instagram fa-3x' (click)="openSnackbar('instagram')"></button>
  </div>
  <div class="buttons" layout-align="end start">
    <button class='fa fa-xing fa-3x' (click)="openSnackbar('xing')"></button>
  </div>
</nav>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<router-outlet></router-outlet>
<div class="bottom">
  <span (click)="openDialog('Impressum', textImpressum)" class="margin">Impressum</span>
  <span (click)="openDialog('Datenschutz', 'Datenschutz text')" class="margin">Datenschutz</span>
  <span (click)="openDialog('AGB', 'AGB text')" class="margin">Allgemeine Geschäftsbedingungen mit Kundeninformationen</span>
</div>


